@typeparam TModel

<ul class="tree">
    @if (TreeNodes != null)
    {
        @foreach (var node in TreeNodes.Where(n => n.ParentId == null))
        {
            <li>
                <span @onclick="() => HandleNodeClick(node)">
                    @node.Text
                </span>
                @if (node.Children?.Any() == true)
                {
                    <DynamicTreeNodes TModel="TModel" Nodes="node.Children" OnNodeClick="OnNodeClick" />
                }
            </li>
        }
    }
</ul>