@typeparam TModel
<div class="page-layout">

     <CascadingValue Value="this">
    <DynamicButtons TModel="TModel"
                    BaseActions="@(ExternalActions )"
                    BaseNavigations="@(ExternalNavigations  )" />

 
        @BodyContent
 
    <DynamicGrid TModel="TModel" GridHost="@(ExternalGrid)" />
    </CascadingValue>
</div>

