
<div class="tab">

    @foreach (TabPage tabPage in Pages)
    {
            @**@
        <button type="button" class="@GetButtonClass(tabPage)" @onclick=@( () => ActivatePage(tabPage) )>
            @tabPage.Text
        </button>
    }
</div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
